services:
  watchtower:
    image: containrrr/watchtower:latest
    container_name: watchtower
    environment:
      - WATCHTOWER_POOL_INTERVAL=60
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock